@model Mooshark2.Models.Entities.Project

@{
    ViewBag.Title = "Create Project";
}

<h2>Create Project</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="Deadline" class="col-md-2 control-label">Deadline</label>
            <div class="input-group date form_datetime col-md-3" id="deadline" data-date="20/10/2016T13:37:30Z" data-date-format="dd/mm/yyyy hh:mm:ss" data-link-field="dtp_input1">
                <input class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            @Html.TextBoxFor(m => m.Deadline, new { style = "display: none;", id = "dtp_input1" })
            <input type="hidden" id="dtp_input1" value="Deadline"/><br/>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GroupSize, htmlAttributes : new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GroupSize, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GroupSize, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Visibility, htmlAttributes : new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Visibility)
                    @Html.ValidationMessageFor(model => model.Visibility, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @Html.HiddenFor(m => m.CourseID, new { Value = ViewBag.Course})

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next step" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div id="Adminbutt">
    @Html.ActionLink("Back to main page", "Index", "Teacher", null, new { @class = "btn btn-default" })
</div>

<script type="text/javascript">
    $('.form_datetime')
        .datetimepicker({
            //language:  'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
    });
    $('.form_date').datetimepicker({
        //language: 'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_time').datetimepicker({
        //language: 'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });

</script>