@model Mooshark2.Models.ViewModels.TeacherViewModels.TeacherCreateViewModel

@{
    ViewBag.Title = "CreateProject";
}

<script src="jquery-1.12.2.min.js"></script>

<h2>CreateProject</h2>

@using (Html.BeginForm())
{

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form id="myform">
            <div class="form-group">
                @Html.LabelFor(model => model.project.Name, "Project Name", new { @class = "col-md-2 control-label" })
                <div>
                    @Html.TextBoxFor(model => model.project.Name, new { @class = "form-controle" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.project.Deadline, "Dedline", new { @class = "col-md-2 control-label" })
                <div>
                    @Html.EditorFor(model => model.project.Deadline, new { @class = "form-controle" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.subproject.Name, "Part name", new { @class = "col-md-2 contorl-la" })
                <div>
                    @Html.TextBoxFor(model => model.subproject.Name, new { @class = "form-contole" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.subproject.Description, "Description", new { @class = "col-md-2 contorl-la" })
                <div>
                    @Html.TextAreaFor(model => model.subproject.Description, new { @class = "form-contole" })
                </div>
            </div>
            <!--<div class="form-group">
                Html.LabelFor(model => model.subproject., "Description", new { class = "col-md-2 contorl-la" })
                <div>
                    Html.TextAreaFor(model => model.subproject.Description, new { class = "form-contole" })
                </div>
            </div>
            <div class="form-group">
                Html.LabelFor(model => model.subproject.Description, "Description", new { class = "col-md-2 contorl-la" })
                <div>
                    Html.TextAreaFor(model => model.subproject.Description, new { class = "form-contole" })
                </div>
            </div>-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" onclick="myfunction" value="Create" class="btn btn-default" />
                    </div>
                </div>
        </form>

    </div>
}
<script>
    function myfunction() {
        document.getElementById("myform").reset();
    }
</script>