@model Mooshark2.Models.ViewModels.TeacherViewModels.TeacherProjectDetailsViewmodel

@{
    ViewBag.Title = "ProjectDetails";
}


<div class="jumbotron row">
    <div class="col-sm-8">
        <h2>@Model.currentProject.Name</h2>
        <p>Here you can edit the project, add new subprojects and read student's submissions!</p>
        <div>
            <p>Deadline: @Model.currentProject.Deadline</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div id="Adminbutt">
            @Html.ActionLink("Add new subproject", "CreateSubproject", new { id = Model.currentProject.ID }, new { @class = "btn btn-primary AdminButtons" })
        </div>
        <div id="Adminbutt">
            @Html.ActionLink("Edit project", "EditProject", new { id = Model.currentProject.ID }, new { @class = "btn btn-default" })
        </div>
    </div>
</div>

<div class="container">
    <ul class="nav nav-tabs">
        @if(Model.subprojects != null && Model.subprojects.Count != 0) {
            <li><a href="#menu-1">Part 1</a></li>
            for(int i = 2; i < Model.subprojects.Count + 1; i++)
            {
                <li><a href="#menu-@i">Part @i</a></li>
            }
        }
    </ul>

    <div class="tab-content">
        @if (Model.subprojects != null)
        {
            for (int i = 0; i < Model.subprojects.Count; i++)
            {
                <div id="menu-@(i+1)" class="tab-pane fade">
                    <div class="container">
                        <div class="page-header">
                            <h3>@Model.subprojects[i].Name</h3>
                        </div>
                        <p>@Model.subprojects[i].Description</p>
                    </div>
                    <div id="Adminbutt">
                        @Html.ActionLink("Student's submissions", "Submissions", new { subprojectId = Model.subprojects[i].ID }, new { @class = "btn btn-default AdminButtons" })
                        @Html.ActionLink("Edit subproject", "EditSubproject", new { id = Model.subprojects[i].ID }, new { @class = "btn btn-default" })
                    </div>
                    <div>
                        <!-- SUBMISSION TABLE -->
                    </div>
                </div>
            }
        }
    </div>
</div>

<script>
    $(document)
        .ready(function() {
            $(".nav-tabs a")
                .click(function() {
                    $(this).tab('show');
                });
        });
</script>

<div class="row top-buffer">
    @Html.ActionLink("Back to Course", "Course", new { id = Model.currentProject.CourseID }, new { @class = "btn btn-default" })
</div>