@using Mooshark2.Models.Entities
@model Mooshark2.Models.ViewModels.TeacherViewModels.TeacherProjectDetailsViewmodel

@{
    ViewBag.Title = "ProjectDetails";
}

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<h2>@Model.currentProject.Name</h2>

<ul class="nav nav-pills">
    @for (int i = 1; i < @Model.subprojects.Count() + 1; i++)
    {
        <li class="active"><a data-toggle="tab" href="#tab">Tab @i</a></li>
    }
</ul>


@foreach(var subproject in Model.subprojects) {
    <div>
        <h3>@subproject.Name</h3>
        <p>@subproject.Description</p>
        @Html.ActionLink("Submits", "Submissions", new { id = Model.currentProject.ID })
        <div>
            <p>Deadline: @Model.currentProject.Deadline</p>
            <p>Time until deadline: @((Model.currentProject.Deadline)-DateTime.Now)</p>
        </div>
    </div>
}

@Html.ActionLink("Back to Course", "Course", new { id = Model.currentCourse.ID }) <!--doesn't seem to work right-->