@model Mooshark2.Models.ViewModels.TeacherViewModels.TeacherStudentSubmissionsViewModel

@{
    ViewBag.Title = "StudentSubmissions";
}

<h2>@Model.student.FullName submits</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Submission number</td>
            <td>Result</td>
            <td>Date</td>
            <td>Grade</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var sub in Model.submissions)
        {
            <tr>
                <td>@sub.SubmissionNr</td>
                @if(sub.Accepted == true)
                {
                    <td>@Html.ActionLink("Accepted", "SubmissionDetail", new { submissionId = sub.ID, studentId = Model.student.Id}, new { @class="accepted" })</td>
                }
                @if(sub.Accepted == false)
                {
                    <td>@Html.ActionLink("Wrong Answer", "SubmissionDetail", new { submissionId = sub.ID, studentId = Model.student.Id }, new { @class = "wrong-answer" })</td>
                }
                <td>@sub.Date</td>
                <td>@sub.Grade</td>
            </tr>
        }
    </tbody>
</table>
