@model Mooshark2.Models.ViewModels.TeacherViewModels.TeacherSubmissionsViewmodel

@{
    ViewBag.Title = "Submissions";
}

<h2>Submissions</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-5"></div>
        <div class="col-xs-3">
            <div class="inner-addon right-addon pull-right">
                <i class="glyphicon glyphicon-search"></i>
                <input id="search" type="search"
                       class="form-control"
                       placeholder="Search" />
            </div>
        </div>
        <div class="col-xs-4"></div>
    </div>
</div>
<table class="table table-bordered table-striped" id="table">
    <caption class="left">Submissions for @Model.currentSubproject.Name</caption>
    <thead>
    <tr>
        <th>Submission number</th>
        <th>Name</th>
        <th>Date</th>   
        <th>Accepted</th>
        <th>Grade</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var last in Model.bestSubmissions)
        {
            <tr>
                <td>@last.SubmissionNr</td>
                <td>@Html.ActionLink(Model.studentsThatHaveSubmitted.FirstOrDefault(model => model.Id == last.StudentId).FullName , "StudentSubmissions", new { studentId = last.StudentId, subprojectId = Model.currentSubproject.ID })</td>
                <td>@last.Date</td>
                <td>
                @if (last.Accepted == true){
                    @Html.ActionLink("Accepted", "SubmissionDetail", new { submissionID = last.ID, studentId = last.StudentId })
                }
                @if (last.Accepted == false){
                    @Html.ActionLink("Wrong Answer", "SubmissionDetail", new { submissionID = last.ID, studentId = last.StudentId })
                }
                </td>
                <td>@last.Grade</td>
            </tr>
        }
    </tbody>
</table>



