@model Mooshark2.Models.ViewModels.TeacherViewModels.TeacherSubmissionsDetailViewModel
@{
    ViewBag.Title = "SubmissionDetail";
}

<h2>@Model.currentSubproject.Name</h2>

<p>Input: <br /> 
    @Model.currentSubproject.Input</p>

<p>Your output: <br />
    @Model.currentSubproject.Output</p>


<p>Expected output: <br/>
    @Model.currentSubproject.Output</p>

@using (Html.BeginForm()){
    @Html.HiddenFor(x => x.currentSubproject.ID)
    @Html.EditorFor(model => model.currentSubmission.Grade, new { htmlAttributes = new { @class = "form-control" } })
    <input type="submit" name="Submit" id="Submit" value="Update Grade" class="btn btn-lg AdminButtons" />
}
