@model Mooshark2.Models.ViewModels.TeacherViewModels.TeacherSubmissionsViewmodel

@{
    ViewBag.Title = "Submissions";
}

<h2>Submissions</h2>

<div class="col-xs-6">
    <div class="right-inner-addon">
        <i class="glyphicon glyphicon-search"></i>
        <input id="search" type="search"
               class="form-control"
               placeholder="Search" />
    </div>
</div>
<table class="table table-bordered table-striped" id="table">
    <caption class="left">Submissions for @Model.currentSubproject.Name</caption>
    <thead>
    <tr>
        <th>Submission number</th>
        <th>Name</th>
        <th>Date</th>   
        <th>Accepted</th>
        <th>Grade</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var last in Model.lastSubmissions)
        {
                <tr>
                    <td>@Model.allSubmissionsForSubproject.FirstOrDefault(p => p.ID == last.SubmissionID).SubmissionNr</td>
                    <td>@Html.ActionLink(Model.studentsThatHaveSubmitted.FirstOrDefault(p => p.Id == last.UserID).FullName, "SubmissionDetails")</td>
                    <td>@Model.allSubmissionsForSubproject.FirstOrDefault(p => p.ID == last.SubmissionID).Date</td>
                    <td>
                        @if (Model.allSubmissionsForSubproject.FirstOrDefault(p => p.ID == last.SubmissionID).Accepted == true)
                        {
                            @Html.ActionLink("Accepted", "Graded", new { userId = students.Id, subprojectId = Model.currentSubproject.ID})
                        }
                        @if (Model.allSubmissionsForSubproject.FirstOrDefault(p => p.ID == last.SubmissionID).Accepted == false)
                        {
                            @Html.ActionLink("Wrong Answer", "Graded", new { userId = students.Id, subprojectId = Model.currentSubproject.ID })
                        }
                    </td>
                    <td>@Model.allSubmissionsForSubproject.FirstOrDefault(p => p.ID == last.SubmissionID).Grade</td>
                </tr>
            
        }
    </tbody>
</table>
