@model Mooshark2.Models.ViewModels.AdminViewModels.AdminCourseViewModel

@{
    ViewBag.Title = "CreateCourse";
}

<h2>CreateCourse</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Create Course</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Course.Name, htmlAttributes : new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Course.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Course.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="">
            @Html.LabelFor(model => model.TeacherList, new { @class = "col-md-2 control-label" })
            <div class="col-md-10" class="dropdown">
                @Html.DropDownList("TeacherList", (IEnumerable<SelectListItem>)ViewBag.Teachers, "- Select a Teacher -", new { @class = "btn btn-default dropdown-toggle" })
                <button type="button" class="btn btn-primary" data-toggle="button">
                    Add another
                </button>
            </div>
        </div>

        <div class="form-group">
            <a class="btn btn-primary AdminButtons" data-toggle="modal" data-target=".bootstrapmodal"><span></span>Select students</a>

            <div class="modal fade bootstrapmodal">
                <div class="modal-dialog">

                    <div class="modal-content">
                        
                        <div class="modal-header">
                            Select students
                        </div>
                        <div class="modal-body">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>SSN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var i in Model.StudentList)
                                    {
                                        <tr>
                                            <td><input type="checkbox"/></td>
                                            <td>@i.FullName</td>
                                            <td>@i.Email</td>
                                            <td>@i.SSN</td>
                                        </tr>

                                            @*<fieldset action="/MovieApp/RateMovie" class="rating" id="rateinfo" name="rateinfo">
                                            <input type="radio" id="star10" name="rateinfo" value="10" /><label class="full" for="star10" title="10 stars"></label>*@
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary">submit</button>
                            <button class="btn btn-default">cancel</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(m => m.TeacherList, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <select>

                    MODELIÐ ER ÞAÐ SEM VIÐ ERUM AÐ FARA SETJA INNÍ EKKI DATABASEINN :-) - unnur
                    @foreach(var teacher in Model.TeacherList) {
                        <option value="name">i.FullName</option>
                    }
                </select>

                @* @Html.DropDownList("TeacherList", (IEnumerable<SelectListItem>)ViewBag.Teachers, "Select ...");

            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Course.Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Course.Active)
                    @Html.ValidationMessageFor(model => model.Course.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
