@model IEnumerable<Mooshark2.Models.Entities.Course>
@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" rel="stylesheet"/>

<h2>Main Page - Admin</h2>
<div class="row">

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">

                <div>
                    @Html.ActionLink("Create course", "CreateCourse", "Admin", null, new { @class = "btn btn-primary btn-lg AdminButtons" })
                </div>

                <div>
                    @Html.ActionLink("Create user", "register", "Account", null, new { @class = "btn btn-primary btn-lg AdminButtons" })
                </div>

                <div>
                    @Html.ActionLink("Edit", "Edit", "Admin", null, new { @class = "btn btn-default btn-lg" })
                </div>

            </div>

            <div class="col-sm-9">

                <table class="table table-bordered table-striped">
                    <!--<caption></caption>-->
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var course in Model )
                        { 
                            <tr>
                                <td>
                                    <a href="/Admin/Edit/@course.ID"><img alt="Edit" src="@Url.Content("~/Images/edit.png")" width="20" height="20" /></a>
                                    @Html.ActionLink(course.Name, "Edit", new {id = @course.ID })
                                </td>
                                <td>
                                    @if (course.Active == true)
                                    {
                                        <img alt="Check" src="@Url.Content("~/Images/check.png")" width="20" height="20" />
                                    }
                                </td>
                            </tr>
                            
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>