@model IEnumerable<Mooshark2.Models.Entities.Course>
@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" rel="stylesheet"/>

<div class="row">
    <h2>Welcome to admin's main page</h2>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">

                <div id="Adminbutt">
                    @Html.ActionLink("Create course", "CreateCourse", "Admin", null, new { @class = "btn btn-primary btn-lg AdminButtons", @type="button" })
                </div>

                <div id="Adminbutt">
                    @Html.ActionLink("Create user", "register", "Account", null, new { @class = "btn btn-primary btn-lg AdminButtons" })
                </div>

                <div id="Adminbutt">
                    @Html.ActionLink("Edit Students", "StudentEditList", "Admin", null, new { @class = "btn btn-default btn-lg" })
                </div>

            </div>

            <div class="col-sm-9">
                

                <table class="table table-bordered table-striped">
                    <!--<caption></caption>-->
                    <thead>
                    <tr>
                        <th>Course</th>
                        <th>Active</th>
                    </tr>
                    </thead>
                    <tbody>

                    @*@for(var i = Model.Count(); i >= 0; i--)*@

                    @foreach(var course in Model.Reverse()) {
                        <tr>
                            <td>
                                <a href="/Admin/Edit/@course.ID"><img alt="Edit" src="@Url.Content("~/Images/edit.png")" width="20" height="20"/></a>
                                @course.Name
                            </td>
                            <td>
                                @if(course.Active == true) {
                                    <img alt="Check" src="@Url.Content("~/Images/check.png")" width="20" height="20"/>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>