@model Mooshark2.Models.ViewModels.StudentViewModels.StudentCourseViewModel

<div class="row">
    <div class="col-md-8 table-scoll">
        <h3>Projects</h3>

        <div class="col-xs-6">
            <div class="right-inner-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input id="search" type="search"
                       class="form-control"
                       placeholder="Search" />
            </div>
        </div>
        <table class="table table-bordered table-striped" id="table">
            <caption></caption>
            <thead>
            <tr>
                <th>Course</th>
                <th>Assignment</th>
                <th>Deadline</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            @if(Model.projectsForCourse != null && Model.projectsForCourse.Count() != 0) {
                foreach(var project in Model.projectsForCourse) {
                    <tr>
                        <td>@Model.currentCourse.Name</td>
                        <td>@Html.ActionLink(project.Name, "ProjectDetails", new { id = project.ID })</td>
                        <td>@project.Deadline</td>
                        <td>@*project.isGroupProject*@</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <h3>Teachers</h3>
        <ul>
            @foreach(var teacher in Model.teacherForCourse) {
                <li class="list-inline" id ="teacher-list">@teacher.FullName</li>
            }
        </ul>
    </div>
</div>
<div id="Adminbutt">
    @Html.ActionLink("Back to Main", "Index", new { @class = "btn btn-default" })
</div>