@model Mooshark2.Models.ViewModels.StudentViewModels.StudentCourseViewModel

<div class="row">
    <div id="studentCourseProjectsTable" class="col-md-8">
        <h3>Projects</h3>
        <table class="table table-bordered table-striped">
            <caption><caption>
            <thead>
            <tr>
                <th>Course</th>
                <th>Assignment</th>
                <th>Deadline</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            @if(Model.projectsForCourse != null && Model.projectsForCourse.Count() != 0) {
                foreach(var project in Model.projectsForCourse) {
                    <tr>
                        <td>@Model.course.Name</td>
                        <td>@Html.ActionLink(project.Name, "Details", new { id = project.ID })</td>
                        <td>@project.Deadline</td>
                        <td>@*project.isGroupProject*@</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <h3>Teachers</h3>
        <ul>
            @foreach(var teacher in Model.teacherForCourse) {
                <li class="list-inline" id ="teacher-list">@teacher.FullName</li>
            }
        </ul>
    </div>
</div>
<div id="Adminbutt">
    @Html.ActionLink("Back to Main", "Index", new { @class = "btn btn-default" })
</div>