@using Mooshark2.Models.Entities
@model Mooshark2.Models.ViewModels.StudentViewModels.StudentDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.currentProject.Name</h2>

<div>
   @*<ul>
        @if(Model.subprojects != null && Model.subprojects.Any()) {
            for(int i = 1; i < Model.subprojects.Count(); i++) {
                <li><a href="#tabs- @i">Part @i</a></li>
            }
        }
    </ul>*@

    <div>
        @foreach(var subproject in Model.subprojects) {
            <h3>@subproject.Name</h3>
            <p>@subproject.Description</p>
        }
    </div>
</div>

@Html.ActionLink("Back to course", "Course", new { id = Model.currentCourse.ID })