@using Mooshark2.Models.Entities
@model Mooshark2.Models.ViewModels.StudentViewModels.StudentDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.currentProject.Name</h2>

<div>
    @foreach(var subproject in Model.subprojects) {
        <h3>@subproject.Name</h3>
        <p>@subproject.Description</p>
        @Html.ActionLink("Submit", "Submit", new { id = subproject.ID })
    }
</div>

<div>
    <p>Deadline: @Model.currentProject.Deadline</p>
    <p>Time until deadline: @((Model.currentProject.Deadline)-DateTime.Now)</p>
</div>

@Html.ActionLink("Back to course", "Course", new { id = Model.currentCourse.ID })