-
@model Mooshark2.Models.ViewModels.StudentViewModels.StudentDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron row">
    <div class="col-sm-8">
        <h2>@Model.currentProject.Name</h2>
        <p>Here you can read the description and submit your solution!</p>
        <div>
            <p>Deadline: @Model.currentProject.Deadline</p>
            
        </div>
    </div>
    <div class="col-sm-4">
        @*<div id="countdown">@((Model.currentProject.Deadline) - DateTime.Now)</div>*@
    </div>
</div>

<div class="container">
    <ul class="nav nav-tabs">
        @if (Model.subprojects != null && Model.subprojects.Count != 0)
        {
            <li class="active"><a href="#menu-1">Part 1</a></li>
            for (int i = 2; i < Model.subprojects.Count + 1; i++)
            {
                <li><a href="#menu-@i">Part @i</a></li>
            }
        }
    </ul>

    <div class="tab-content">
        @if (Model.subprojects != null)
        {
            for (int i = 0; i < Model.subprojects.Count; i++)
            {
                <div id="menu-@(i+1)" class="tab-pane fade in active">
                    <div class="container">
                        <div class="page-header">
                            <h3>@Model.subprojects[i].Name</h3>
                        </div>
                        <p>@Model.subprojects[i].Description</p>
                    </div>
                    <div id="Adminbutt">
                        @Html.ActionLink("Submit", "Submit", new { id = Model.subprojects[i].ID }, new { @class = "btn btn-success" })
                    </div>
                    <div>
                        <!-- SUBMISSION TABLE -->
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Result</td>
                                    <td>Submission time</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var submission in Model.projectSubmissions){
                                    if (submission.SubprojectID == Model.subprojects[i].ID){
                                    <tr>
                                        <td>@Html.ActionLink(submission.SubmissionNr.ToString(), "SubmissionDetails", new { submissionID = submission.ID })</td>
                                        @if (submission.Accepted == true)
                                        {
                                            <td>@Html.ActionLink("Accepted", "SubmissionDetails", new { submissionID = submission.ID })</td>
                                        }
                                        @if (submission.Accepted == false)
                                        {
                                            <td>@Html.ActionLink("Wrong answer", "SubmissionDetails", new { submissionID = submission.ID })</td>
                                        }
                                        <td>@submission.Date</td>
                                    </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        }
    </div>
</div>

<script>
    $(document)
        .ready(function() {
            $(".nav-tabs a")
                .click(function() {
                    $(this).tab('show');
                });
        });
</script>

<div class="row top-buffer">
    @Html.ActionLink("Back to Course", "Course", new { id = Model.currentProject.CourseID }, new { @class = "btn btn-default" })
</div>




@*<h2>@Model.currentProject.Name</h2>

<div id='jqxTabs'>
    <ul style='margin-left: 20px;'>
    @for (int i = 1; i < Model.subprojects.Count()+1; i++) {
        <li>Tab @i</li>
    }
    </ul>
</div>

    <div>
        @foreach (var subproject in Model.subprojects) {
            <div>
                <h3>@subproject.Name</h3>
                <p>@subproject.Description</p>
                @Html.ActionLink("Submit", "Submit", new { id = subproject.ID }, new { @class="btn btn-success" })
            </div>
        }
   </div>

        <div>
            <p>Deadline: @Model.currentProject.Deadline</p>
            <p>Time until deadline: @((Model.currentProject.Deadline) - DateTime.Now)</p>
        </div>

        @Html.ActionLink("Back to course", "Course", new { id = Model.currentCourse.ID }, new { @class="btn btn-default" })


<script type="text/javascript">
    $(document)
        .ready(function() {
            $('#jqxTabs').jqxTabs({ width: 550, height: 150 });
        });
</script>*@
