@model Mooshark2.Models.ViewModels.StudentViewModels.StudentSubmissionDetailsViewModel
@{
    ViewBag.Title = "SubmissionDetails";
}
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron">
            <h2>Submission Details</h2>
            <h2>@Model.project.Name</h2>
            <h3>@Model.subproject.Name</h3>
        </div>

    </div>

    <div class="row page-header">
        <div class="well well-lg"><h4>Input:</h4>@Model.subproject.Input</div>
    </div>

    <div class="row ">
        <div class="col-sm-6">
            <h3>Your output:</h3>
            <div class="well">@Model.submission.Output</div>
        </div>

        <div class="col-sm-6">
            <h3>Expected output:</h3>
            <div class="well">@Model.subproject.Output</div>
        </div>
    </div>

    <div class="row">

        @if(Model.submission.Accepted == true) {
            <span class="label"><a href="https://youtu.be/P0zVPZBykSE?t=20s" id="accepted"><h2>ACCEPTED</h2></a></span>
        }

        @if(Model.submission.Accepted == false) {
            <span class="label"><a href="https://youtu.be/LmW3H-EXYS0?t=20s" id="wrong-answer"><h3>Wrong answer</h3></a></span>
        }

    </div>

    <div class="row">
        @Html.ActionLink("Back to project", "ProjectDetails", new { id = Model.project.ID }, new { @class = "btn btn-default" })
    </div>
</div>



